<div style="margin-top: 20px">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 mt-3">
        <label for="taskDueDate">Task Due Date</label>
        <input type="date" formControlName="taskDueDate" class="form-control">
      </div>
      <div class="col-md-6 mt-3">
        <label for="assignedTo">Assigned To</label>
        <input type="text" formControlName="assignedTo" class="form-control" placeholder="Enter Assignee Name">
      </div>
      <div class="col-md-6 mt-3">
        <label for="status">Status</label>
        <input type="text" formControlName="status" class="form-control" placeholder="e.g. Pending, Completed">
      </div>
      <div class="col-md-6 mt-3">
        <label for="priority">Priority</label>
        <select formControlName="priority" class="form-control">
          <option value="">Select Priority</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="col-md-12 mt-3">
        <label for="comments">Comments</label>
        <textarea formControlName="comments" class="form-control" placeholder="Additional notes..."></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    
  </form>

 
  <ng-template #noData>
    <!-- <p>No tasks found.</p> -->
  </ng-template>
  
</div>
<div   class="table-responsive mt-4" *ngIf="UserData.length > 0; else noData">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Age</th> 
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of UserData; let i = index">
        <td>{{ task.assignedTo }}</td> 
        <td>{{ task.priority }}</td>
        <td>{{ task.dueDate }}</td>
        <td>{{ task.status }}</td> 
        <td>
          <!-- <button (click)="edit(task)">Edit</button>
          <button (click)="delete(task)">Delete</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>